* {
    margin: 0;
    font-family: TomaSans;
    font-weight: bold;
    text-align: center;
}
html{
    background-image: url('tic-tac-toe.png');

}
body{

    background-color: white;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 100px;
    border: 2px solid #b9c1b9;
    text-align: center;

}

h3{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
p {
    background-color: white;

}
#frontPhoto{
    width: 500px;
    height: 500px;
    transform: rotate(270deg);
}

@font-face{
    font-family: TomaSans;
    src: url(TomaSans-Regular.ttf);
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: -30px;
    padding-bottom: 10px;
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid #b9c1b9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
}

#credDrop a {
    padding: 4px 0px;
}

.dropdown:hover .dropdown-content {display: block;}
